* {
    margin: 0;
    padding: 0;
    font-size: border-box;
    font-family: "Oxygen", sans-serif;
}
body {
    background-color: #1B262C;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: repeat(6,80px);
    grid-gap: 2px;
}

#display {
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 0 16px;
    text-align: right;
}
button {
    border: 0;
    cursor: pointer;
    color: #FFF;
    background-color: #303968;
}

button:focus{
   outline: none;
}
button:hover{
    background-color:#CA9881 ;
 }

.clear {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #F66;
}
.equal {
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 4;
    background-color: #00918F;
}